# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
static_collected/

# Wagtail
media/

# Environment variables
.env
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
IaC/credentials.env

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
tfplan

# Debugging
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# AWS
.aws/
aws-credentials

# CI/CD
.coverage
coverage.xml

# Docker
.docker/
docker-compose.override.yml
